.wrapper{
    font-size: 0.8rem;
    border: 0.7px solid rgb(189, 182, 182);
    border-radius: 20px;
    margin-right : 4rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    cursor: pointer;
    user-select: none;
}

.link{
    text-decoration: none;
    color: black;
}